@tailwind base;
@tailwind components;
@tailwind utilities;


/* https://stackoverflow.com/questions/69276276/why-tailwind-list-style-type-is-not-working */
/* https://www.magicpattern.design/tools/css-backgrounds */

@layer base {
  ul, ol {
    list-style: circle;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  li::marker {
    font-size: 1.5rem;
  }
}

/* FIXME: Find out which page was benefiting from us using white */
body {
  background-color: #f6f6f6;
  /* background-color: white; */
  /* opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, white 0.5px);
  background-size: 40px 40px; */
}

.notes {
  background-attachment: local;
  background-image:
      linear-gradient(to right, white 10px, transparent 10px),
      linear-gradient(to left, white 10px, transparent 10px),
      repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  padding-left: 8px;
}

@media only screen and (max-width: 1535px) {
  .landing {
    margin: 0px 50px 0px 50px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .smallhidden {
    display: block !important;
  }
  .expanded {
    padding-left: 280px;
  }
  .collapsed {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 1279px) {
  .landing {
    margin: 0px 10px 0px 10px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .smallhidden {
    display: block !important;
  }
  .expanded {
    padding-left: 280px;
  }
  .collapsed {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 1023px) {
  .landing {
    margin: 0px 30px 0px 30px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .smallhidden {
    display: block !important;
  }
  .expanded {
    padding-left: 0px;
  }
  .collapsed {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .landing {
    margin: 0px 10px 0px 10px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .smallhidden {
    display: block !important;
  }
  .expanded {
    padding-left: 0px;
  }
  .collapsed {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 639px) {
  .landing {
    margin: 0px 5px 0px 5px;
  }
  h1 {
    font-size: 42px;
  }
  h3 {
    font-size: 30px;
  }
  .smallhidden {
    display: none !important;
  }
  .expanded {
    padding-left: 0px;
  }
  .collapsed {
    padding-left: 60px;
  }
}

/* https://stackoverflow.com/questions/632100/apply-css-style-to-child-elements */
div.vsm_expanded li.vsm--item {
  margin-top: 20px;
  margin-left: 30px;
  width: 80%;
}

div.vsm_collapsed li.vsm--item {
  margin-top: 40px;
  margin-left: 5px;
}

.v-sidebar-menu.vsm_white-theme .vsm--link {
  color: #808080 !important;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_hover {
  color: #262626 !important;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1 .vsm--icon {
  background-color: #ffffff !important;
  height: 20px;
  width: 20px;
}
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active .vsm--icon {
  color: #262626 !important;}
/* 
.v-sidebar-menu.vsm--link_level-1 {
  margin-left: 50px !important;
} */
/* This changes the text color might need it */
/* .v-sidebar-menu.vsm_white-theme .vsm--link {
  color: #872b52;
} */

/* The @mixin directive lets you create CSS code that is to be reused throughout the website.

The @include directive is created to let you use (include) the mixin. */

/* FIXME: This is not working , get to know why, the width override */
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 500px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* //Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* // Used when no type is provided
  // toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  /* // Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
