@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@media only screen and (max-width: 1535px) {
  .landing {
    margin: 0px 50px 0px 50px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .smallhidden {
    display: block !important;
  }
}
@media only screen and (max-width: 1279px) {
  .landing {
    margin: 0px 10px 0px 10px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .smallhidden {
    display: block !important;
  }
}
@media only screen and (max-width: 1023px) {
  .landing {
    margin: 0px 30px 0px 30px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .smallhidden {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .landing {
    margin: 0px 10px 0px 10px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .smallhidden {
    display: block !important;
  }
}
@media only screen and (max-width: 639px) {
  .landing {
    margin: 0px 5px 0px 5px;
  }
  h1 {
    font-size: 42px;
  }
  h3 {
    font-size: 30px;
  }
  .smallhidden {
    display: none !important;
  }
}

/* https://stackoverflow.com/questions/632100/apply-css-style-to-child-elements */
div.vsm_expanded li.vsm--item {
  margin-top: 20px;
  margin-left: 30px;
  width: 80%;
}

div.vsm_collapsed li.vsm--item {
  margin-top: 40px;
  margin-left: 5px;
}

.v-sidebar-menu.vsm_white-theme .vsm--link {
  color: #808080 !important;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_hover {
  color: #262626 !important;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1 .vsm--icon {
  background-color: #ffffff !important;
  height: 20px;
  width: 20px;
}

/* 
.v-sidebar-menu.vsm--link_level-1 {
  margin-left: 50px !important;
} */
/* This changes the text color might need it */
/* .v-sidebar-menu.vsm_white-theme .vsm--link {
  color: #872b52;
} */

/* The @mixin directive lets you create CSS code that is to be reused throughout the website.

The @include directive is created to let you use (include) the mixin. */
